body{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    background: linear-gradient(to right, rgb(2, 131, 2), rgba(51, 172, 51), rgb(228, 217, 217), rgba(204, 45, 45), red);
    color: white;
    font-size: 1.5rem;
}

a{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: rgba(0, 155, 0, 0.4);
    padding: 8px 4px;
    cursor: pointer;
    border-radius: 4px;
}
